<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <filter-mapping>
        <filter-name>helloWorldFilter</filter-name>
        <url-pattern/>
    </filter-mapping>

    <filter-mapping>
        <filter-name>dispatcherFilter</filter-name>
        <url-pattern/>
    </filter-mapping>


    <servlet>
        <servlet-name>nonAnnotationServlet</servlet-name>
        <servlet-class>me.qihao.servlet.NonAnnotationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nonAnnotationServlet2</servlet-name>
        <servlet-class>me.qihao.servlet.NonAnnotationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>nonAnnotationServlet</servlet-name>
        <url-pattern>/non-annotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nonAnnotationServlet2</servlet-name>
        <url-pattern>/non-annotation2</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
